@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;200;300;400;500;600;700;800&display=swap');

// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

* {
  font-family: 'K2D', sans-serif !important;
}
html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  height: 100dvh;
  overscroll-behavior: none;
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
}

.smooth {
  @apply transition-all duration-300;
}
.smooth-out {
  @apply transition-all duration-300 ease-out;
}

.react-ios-time-picker-input {
  cursor: pointer !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  text-align: center !important;
  width: 100% !important;
}

.react-ios-time-picker {
  margin-bottom: 80px !important;
  scale: 1.4;
}

.react-ios-time-picker-popup-overlay {
  background: rgba(0,0,0,0.2)
}

.react-ios-time-picker-hour {
  margin: 0 10px !important;
  width: 100% !important;
}

.react-ios-time-picker-cell-inner-hour {
  width: 100% !important;
  justify-content: center !important;
}

.react-ios-time-picker-cell-hour {
  justify-content: center !important;
}

.react-ios-time-picker-colon {
  display: none !important;
}

.react-ios-time-picker-minute {
  display: none !important;
}

// .react-ios-time-picker-cell-hour:not(:nth-child(n+9)) {
//   display: none !important;
// }

// .react-ios-time-picker-cell-hour:not(:nth-child(-n+11)) {
//   display: none !important;
// }